@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    font-size: 16px;
    font-family: 'Roboto';
    color: #2d4059;
    background-color: #eee;
}

.container {
    margin: 0 auto;
    position: relative;
    min-width: 400px !important;    
}

.header {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 
        0px 1px 1px 0px rgb(0 0 0 / 14%), 
        0px 1px 3px 0px rgb(0 0 0 / 12%);
    position: relative;
}

.content {
    width: 90%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.title {
    width: 90%;
    margin: 2rem auto;    
}

.search-container {
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

#outlined-basic {
    background-color: #fff !important;
}

.main {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.note-list-item {
    background-color: #fff;
    padding: 20px;
    margin: 0 0 10px 0;

    border-left: 5px solid #f50057;

    border-radius: 2px;    
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 
        0px 1px 1px 0px rgb(0 0 0 / 14%), 
        0px 1px 3px 0px rgb(0 0 0 / 12%);

    position: relative;
}

.note-list-item--title {
    font-weight: 600;
}

.note-list-item--content {
    font-size: .75rem;
    line-height: 1.5;
    margin-top: 5px;
}

.note-list-item--actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 10px;
}

.note-list-item--actions .action-btn {
    margin: 0 !important;
    padding: 0 !important;
}

.divider {
    background: #dad4d4;
    margin: 30px 0 30px 0;
    height: 1px;
    border: none;
}

.notes-form {
    background-color: #fff;
    padding: 20px 20px 20px 20px;

    border-radius: 2px;    
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 
        0px 1px 1px 0px rgb(0 0 0 / 14%), 
        0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.note-form--content {
    margin-top: 10px !important;    
}

.sub-title {    
    font-weight: 400;
    margin: 0 0 10px 0;
}

.form-btn-container {
    text-align: right;
    margin-top: 30px;
}

.form-btn {
    display: inline-block !important;
    width: 100px;
    margin-right: 10px !important;
}

.add-btn svg{
    height: 1.5em !important;
    width: 1.5em !important;
}

.edit-btn {
    color: #3490de !important;
}

.delete-btn {
    color: #f44336 !important;
}

.no-results {
    padding: 50px 0;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #969191;
}